.phone {
  position: relative;

  &::before {
    width: 21px;
    height: 36px;
    background: url('../img/smartphone-call.svg') no-repeat;
    background-size: 21px 36px;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
  }

  p {
    font-size: 20px;
    line-height: 1.3;
    margin: 0;
  }

  a {
    color: $black;
    text-decoration: none;
    font-weight: 700;
  }

  &__viber {
    padding-right: 30px;
    background: url("../img/viber.svg") right center / 23px no-repeat;
  }

}

.phone--white {

  &::before {
    display: none;
  }

  p {
    color: $white;
    font-size: 24px;
  }

  a {
    color: $white;
  }


}