.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  padding: 30px;
  overflow: auto;

  max-width: 800px;
  width: calc(100% - 100px);
  display: none;

  .popup__wrap {
    //width: 455px;
    width: 100%;
    max-width: 800px;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: $white;
    max-height: 300px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid $primary;
    box-shadow: 0px 3px 7px 0px rgba(0, 175, 181, 0.35);
  }

  .popup__close {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    position: absolute;
    right: -2px;
    top: -2px;
    margin: 0;
    padding: 0;
  }

  .popup__exit {
    width: 30px;
    height: 30px;
    fill: $primary;
    transition-duration: 500ms;
    transition-property: fill;

    &:hover {
      fill: lighten($primary, 10%);
    }

  }

  p {
    font-size: 36px;
    line-height: 1.222;
    font-weight: 700;
    margin: 20px 0;
  }

  span {
    display: block;
  }

  .popup__buttons {
    display: flex;
    flex-wrap: wrap;

    button, a {
      width: calc(50% - 8.5px);
      margin-bottom: 17px;
      margin-top: 17px;

      &:first-child {
        margin-right: 17px;
      }

    }

  }

}

.popup--video {
  overflow: inherit;

  .popup__close {
    right: -32px;
    top: -32px;
  }

  .popup__wrap {

    max-width: 800px;
    width: 100%;
    max-height: 100%;

    padding: 0;
    @include adaptive-video;
    padding-bottom: 56.25%;
    height: 100%;
    overflow: inherit;
    border-radius: 0;
    display: block;
  }

}

.popup--product {

  .popup__close {
    right: 0;
    top: 0;
  }

}

.popup--active {
  display: block;
  animation-name: popups;
  animation-duration: 500ms;
}

@media (max-width: 580px) {

  .popup {
    //width: 75%;

    //.popup__wrap {
    //  width: auto;
    //}

    p {
      font-size: 24px;
    }

  }

}

@media (max-width: 480px) {

  .popup {

    .popup__buttons {

      button, a {
        width: 100%;
        margin: 7px 0;

        &:first-child {
          margin-right: 0;
        }

      }

    }

  }

}

//@media (max-height: 360px) {
//
//  .popup {
//    height: 250px;
//    box-sizing: border-box;
//  }
//
//  .popup--video {
//    height: auto;
//  }
//
//}