.slider {
  background-color: $third;
  box-shadow: inset 0px 3px 7px 0px rgba(0, 0, 0, 0.35);;

  .slider__zag {
    @include visually-hidden;
  }

  .slider__content {
    display: flex;
  }

  .slider__left {
    margin-right: 30px;
    flex-basis: 50%;
    background: url('../img/discount.svg') right calc(100% - 35px) no-repeat;
    background-size: 78px;
    position: relative;
    padding-bottom: 35px;

    span {
      color: $red;
      font-size: 24px;
      line-height: 30px;
      font-weight: 700;
    }

    b {
      font-weight: 700;
    }

  }

  .slider__left--present {
    background: url('../img/giftbox.svg') right calc(100% - 35px) no-repeat;
    background-size: 78px;
  }

  .slider__right {
    flex-basis: 50%;
  }

  p {
    margin: 25px 0;
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  .slider__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    margin: 25px 0;
  }

  .slider__info {
    font-size: 18px;
    line-height: 1.667;

    a {
      font-size: 18px;
      line-height: 1.667;
      color: $primary;
      font-weight: 700;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }

    }

  }

  .slider__warning {
    font-weight: 700;
    font-size: 14px;
    margin-top: 35px;

    a {
      font-size: 14px;
      color: $primary;
      font-weight: 700;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }

    }

  }

}

@media (max-width: 980px) {

  .slider {

    .slider__left {
      background: none;
      padding-bottom: 10px;
      flex-basis: auto;
    }

    .slider__right {
      flex-basis: auto;
    }

    .slider__content {
      flex-direction: column;
    }

  }

}